astor==0.8.1
Babel==2.9.1
backports.entry-points-selectable==1.1.0
bce-python-sdk==0.8.62
certifi==2021.5.30
cfgv
click
colorama
colorlog
configparser
cssselect
cssutils
cycler
decorator
dill
distlib
docker-pycreds
easydict
et-xmlfile
filelock
flake8
Flask
Flask-Babel
func-timeout
future
gast
gitdb
GitPython
grpcio
grpcio-tools
gunicorn
h5py
identify
idna
imageio==2.6.1
imgaug
importlib-metadata
itsdangerous
jieba
Jinja2
joblib
kiwisolver
Levenshtein
lmdb
lxml
MarkupSafe
matplotlib
mccabe
multiprocess
networkx
nodeenv
numpy
opencv-python==4.2.0.32
openpyxl
packaging
paddle-serving-app
paddle-serving-client
paddle-serving-server
paddlehub
paddlepaddle
paddlepaddle-gpu
pandas
pathtools
Pillow
platformdirs
pre-commit
premailer
promise
protobuf
psutil
pyclipper
pycodestyle
pycryptodome
pyflakes
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
rapidfuzz
rarfile
requests
scikit-image
scikit-learn
scipy
sentencepiece
sentry-sdk
seqeval
Shapely
shortuuid
six
smmap
subprocess32
termcolor
tifffile
toml
tqdm
typing-extensions
urllib3
virtualenv
visualdl
wandb
Werkzeug
yaspin
zipp